html {
  box-sizing: border-box;
  font: normal 100%/1.5 Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Roboto;
  width: 100%;
  max-width: 45em;
  padding-left: 1em;
  padding-right: 1em;
}

.text h2 {
  font-family: "Roboto Condensed";
  font-size: 3rem;
  max-width: 7em;
  margin: 0;
  line-height: 1.2;
}

.img-flex {
  display: block;
  width: 100%;
}

.icon {
  width: 33%;
}

.text {
  width: 60%;
}

body {
  margin: 0;
}

.btn {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}

.text p {
  margin: .5rem 0 1.2rem;
  font-size: 1.5rem;
  max-width: 40em;
}
